.sec1 {
	background-image: url("../img/sec1-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	color: white;
	text-align: center;
	padding-bottom: 8.5vw;

	@include media(w768) {
		
		br {
			display: none;
		}
	}

	&__title {
		margin-bottom: 0.3em;
	}

	&__subtitle {

		@include media(w768) {
			margin-bottom: 10px;
		}
	}
}