$form-input-border: #8f8f8f;
$form-input-bg: #e1e1e1;

$form-input-height: 62px;
$form-input-padding: 25px;

$form-security-icon-size-pc: 20px;

.form-wrap {
    transition: 0.5s ease;;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-width: 320px;
    z-index: 100;

    &_open {
        opacity: 1;
        visibility: visible;
        
        .form-container {
            opacity: 1;
        }
    }
}
.form-open {
    overflow: hidden;

    body {
        overflow-y: scroll;
    }
}
.form-container {
    background-color: white;
    display: inline-block;
    text-align: left;
    opacity: 0;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 50px 30px 60px;
    position: relative;
    width: 430px;
    z-index: 100;

    @include media(w1366) {
        padding: 30px 30px 30px;
    }

    @include media(w768) {
        padding: 20px 20px 10px;
        width: 300px;
    }
}

.form {

    &__security {
        position: relative;
    }

    &__security-input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;

        &:checked {

            & + .form__security-label {

                .form__security-icon {

                    &:before {
                        transform: translate(-50%, -50%) rotate(45deg);
                        border-width: 3px;
                        height: 12px;
                        width: 7px;
                    }
                }
            }
        }
    }

    &__security-label {
        display: block;
        position: relative;
    }

    &__security-icon {
        background-color: white;
        border-radius: 2px;
        position: absolute;
        top: 0;
        left: 0;
        height: $form-security-icon-size-pc;
        width: $form-security-icon-size-pc;

        &:before {
            content: "";
            transition: $trans;
            transform: translate(0, 0) rotate(0);
            position: absolute;
            top: 50%;
            left: 50%;
            border-bottom: 3px solid black;
            border-right: 3px solid black;
            border-width: 0;
            height: 0;
            width: 0;
        }

        &_invert {
            background-color: black;

            &:before {
                border-color: white;
            }
        }
    }

    &__security-text {
        display: inline-block;
        font-size: 14px;
        line-height: 1.4;
        text-align: left;
        padding-left: 35px;

        @include media(w768) {
            font-size: 12px;
            padding-left: 35px;
        }
    }

    &__security-link {
        display: inline;
        color: white;
        text-decoration: none;

        &_invert {
            color: black;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &__close {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        height: 24px;
        width: 24px;

        &:before,
        &:after {
            content: "";
            background-color: #7f7f7e;
            margin-left: -1px;
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            width: 2px;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }

    &__heading {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;

        @include media(w768) {
            font-size: 20px;
        }
    }

    &__title {
        font-size: 50px;

        @include media(w1366) {
            font-size: 35px;
            margin-bottom: 10px;
        }
    }

    &__descr {
        font-size: 20px;
        margin-bottom: 50px;

        @include media(w1366) {
            font-size: 18px;
            margin-bottom: 20px;
        }

        @include media(w768) {
            font-size: 15px;
            margin-bottom: 10px;
        }
    }

    &__label {
        font-size: 17px;

        span {
            display: inline-block;
            margin-bottom: 4px;
        }

        @include media(w768) {
            font-size: 15px;
        }
    }

    &__select {
        background-color: $form-input-bg;
        border: 1px solid $form-input-border;
        color: #3f3e3c;
        font-size: 22px;
        margin-bottom: 20px;
        padding: 0 $form-input-padding;
        height: $form-input-height;
        width: 100%;

        @include media(w768) {
            margin-bottom: 10px;
            font-size: 18px;
            height: 40px;
        }
    }

    &__input {
        @include placeholder {
            color: #3f3e3c;
        }
        background-color: $form-input-bg;
        border: 1px solid $form-input-border;
        color: #3f3e3c;
        font-size: 22px;
        margin-bottom: 20px;
        padding: 0 $form-input-padding;
        height: $form-input-height;
        width: 100%;

        @include media(w768) {
            margin-bottom: 10px;
            font-size: 18px;
            height: 40px;
        }
    }

    &__btn {
        margin-bottom: 30px;
        width: 100%;

        &_big {
            padding-left: 10px !important;
            padding-right: 10px !important;
        }

        @include media(w768) {
            margin-bottom: 10px;
        }
        // position: relative;
        // font-size: 22px;

        // &_center {
        //     display: block;
        //     margin-left: auto;
        //     margin-right: auto;
        // }

        // &_size {

        //     &:after {
        //         transform: translateY(-50%);
        //         content: "PDF, 13 Mb";
        //         color: #a6a6a6;
        //         font-family: "PTSans", sans-serif;
        //         font-size: 18px;
        //         position: absolute;
        //         top: 50%;
        //         left: calc(100% + 30px);
        //         white-space: nowrap;

        //         @include media(w768) {
        //             font-size: 16px;
        //             left: calc(100% + 20px);
        //         }
        //     }
        // }
    }
}