.phone {
    transition: $trans;
    background-position: left center;
    background-repeat: no-repeat;
    color: white;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 5px;

    &:hover {
        color: $main-red;
    }

    @include media(w1024) {
        background-size: contain;
        font-size: 22px;
        margin-bottom: 10px;
    }
}