footer.footer
    div.container.footer__container
        div.footer__block.footer__block_social
            p.footer__text.footer__text_copy.
                © 2017, «FormFoot»
            div.footer__social
                p.footer__text.footer__text_social-title.
                    Узнать больше о нас:
                ul.footer__social-list
                    li.footer__social-item
                        a(href="https://vk.com/formfoot" target="_blank").footer__link.footer__link_social
                            i.fa.fa-vk
        div.footer__block.footer__block_contacts
            p.footer__text.footer__text_adress.
                Отдел по развитию: г. Иркутск, ул. Байкальская 236в/1, оф. 1
            div.footer__contacts
                a(href="doc/politic.pdf" target="_blank").footer__text.footer__link.footer__link_politic.
                    Политика конфиденциальности
        div.footer__block.footer__block_feedback
            a(href="tel:" + phoneAttr data-phone=phone).footer__phone
                =phone
            +btn-rect({size: "m", href: ""}).js-phone-btn.
                Заказать звонок