footer.footer
    div.container.footer__container
        div.footer__block.footer__block_social
            p.footer__text.footer__text_copy.
                © 2017, «FormFoot»
            div.footer__social
                p.footer__text.footer__text_social-title.
                    Узнать больше о нас:
                ul.footer__social-list
                    li.footer__social-item
                        a(href="" target="_blank").footer__link.footer__link_social
                            i.fa.fa-vk
                    li.footer__social-item
                        a(href="" target="_blank").footer__link.footer__link_social
                            i.fa.fa-facebook
        div.footer__block.footer__block_contacts
            p.footer__text.footer__text_adress.
                Отдел по развитию: г. Иркутск, ул. Байкальская 236в/1, оф. 1
            div.footer__contacts
                a(href="doc/politic.pdf" target="_blank").footer__text.footer__link.footer__link_politic.
                    Политика конфиденциальности
        div.footer__block.footer__block_feedback
            a(href="tel:89218450907" data-phone="89218450907").footer__phone.
                +7(921)845-09-07
            +btn-rect({size: "m", href: ""}).js-small-btn.
                Заказать звонок