section.sec.sec1
    include header
    div.container
        h1.sec1__title.
            Помогайте людям<br> возвращать<br> здоровье НОГ
        p.text_xl.mb2.
            – изготавливайте индивидуальные ортопедические стельки<br> и зарабатывайте от <span class="bold">330 000 рублей</span> в месяц
        +btn-round({size: "l", color: "red"}).js-small-btn.
            Скачать PDF-презентацию, #{presentSize} Mb