section.sec.sec2
    div.container
        p.text_xxl.color-green.ta-center.semibold.
            Каждый второй житель России<br> имеет проблему «плоской стопы»
        div.sec2__block
            p.text_l.semibold.
                Плоскостопие, а также другие 
                заболевания стоп влияют на общее 
                состояние организма. Это является 
                причиной боли в ногах, суставах, 
                тазу и позвоночнике
            p.text_s.
                Чтобы избавиться от боли, 
                необходимо ликвидировать её причину – 
                именно поэтому услуга изготовления 
                индивидуальных ортопедических стелек 
                становится популярнее с каждым годом
            p.text_s.
                Такие стельки исправляют биомеханику и способствуют оздоровлению без хирургического вмешательства
            img(src="img/sec2-foots.jpg").sec2__block-img

