section.sec.sec3
    div.container
        p.text_xxl.color-green.semibold.mb1.
            «FormFoot» – сеть известных<br> в Сибири и Забайкалье  кабинетов<br> оздоровления стоп
        p.text_l.semibold.mb1.
            Наша основная услуга – изготовление индивидуальных<br> ортопедических стелек
        p.text_s.
            Мы проводим диагностику стопы на авторском плантовизоре и используем<br> систему индивидуального ортезирования, чтобы создать стельки с гарантированным<br> оздоравливающим эффектом
        img(src="img/sec3-img.png").sec3__img
        p.text_s.
            Обладатели наших стелек избавляются от болевых синдромов<br> по всему телу в 98,1% случаев 
