section.sec.sec4
    div.container
        p.text_l.semibold.sec4__title.
            Мы буквально ставим на ноги людей,<br> которые перепробовали все способы борьбы<br> с болью в суставах, пояснице и ногах!
        +btn-round({size: "l", color: "white"}).js-small-btn.
            Скачать PDF-презентацию, #{presentSize} Mb