section.sec.sec5
    div.container
        div.sec5__info
            div.sec5__info-item.sec5__info-item_left
                div.sec5__timeline.semibold.color-green
                    img(src="img/sec5-line.png").sec5__timeline-img
                    div.sec5__timeline-item.
                        7 лет<br> на рынке
                    div.sec5__timeline-item.
                        9 000 стелек<br> изготовили
                    div.sec5__timeline-item.
                        17 филиалов<br> в 8 городах
            div.sec5__info-item.sec5__info-item_right
                div.sec5__info-text
                    p.text_xxl.semibold.sec5__info-title.
                        Благодаря заметному 
                        оздоравливающему эффекту, 
                        стельки кабинетов «FormFoot» 
                        стали популярны среди всех 
                        слоёв населения
                    p.text_s.
                        Рекомендации людей позволяют нам практически<br> 
                        не использовать активную рекламу и держать<br> 
                        рентабельность услуг на уровне 40%
        div.sec5__note
            div.sec5__note-item.sec5__note-item_icon
                div.sec5__note
            div.sec5__note-item.sec5__note-item_text
                div.sec5__note-text.
                    Бизнес-модель доказала свою эффективность,<br> 
                    поэтому в <span class="nowrap">2017-2018</span> годах мы планируем открыть<br> 
                    ещё 25 кабинетов по франшизе в РФ и СНГ
