section.sec.sec7
    img(src="img/sec7-bg.png" alt="").sec7__bg
    div.container
        div.sec7__content
            p.text_xxl.semibold.sec7__title.
                Для начала сотрудничества 
                вам потребуется<br> 
                от 275 000 <span class="text_rouble">9</span> инвестиций
            div.sec7__note
                img(src="img/sec7-icon.png").sec7__note-icon
                div.text_s.
                    Средняя окупаемость вложений<br> 
                    по статистике 17 филиалов: 2,5 месяца
            <br>
            a(href="doc/fm.xlsx" download).sec7__link.text_s.js-small-btn.
                Скачать подробную финансовую таблицу
    img(src="img/sec7-phone.png" alt="").sec7__phone