section.sec.sec8
    div.container
        div.sec8__content
            div.sec8__content-item.sec8__content-item_text
                h2.semibold.
                    Начните зарабатывать<br> 
                    в свободной сфере<br> 
                    при поддержке<br> 
                    опытного наставника 
                p.text_l.
                    Откройте кабинет оздоровления<br> 
                    стоп в вашем городе и заработайте<br> 
                    <span class="bold">3,6 млн рублей</span> уже через год
            div.sec8__content-item.sec8__content-item_form
                include bottom-form